.hint::after{
  --hint-size: 30px;
  width: var(--hint-size);
  height: var(--hint-size);
  content: '';
  background-color: #997777b3;
  border-radius: 50%;
  position: relative;
  top: 30%;
}

.cell{
  width: var(--cell-size);
  height: var(--cell-size);
  display: grid;
  justify-items: center
}

.black{
  background-color: rgb(126 152 92);
}

.white{
 background-color: rgb(234 237 207);
}

.board{
  --cell-size: 80px;
  display: grid;
  grid-template-columns: repeat(8, var(--cell-size));
}

.selected {
  background-color: rgb(191, 203, 95);
}

.gameButton{
  background-color: rgb(126 152 92);
  border-radius: 10px;
  width: 400px;
  height: 40px;
  position: relative;
  text-align: center;
  margin: 10px;
  color: white;
}

.gameButton:hover{
  background-color: rgb(234 237 207);
  color: black;
  cursor: pointer;
}

.screen{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body{
  background-color: #302E2B;
}

.hand{
  cursor: -webkit-grab;
}